<% search_block.with_solr_helper(self) %>

<h3>Publications in the Danish Research Database</h3>
<h4>25 most recent of <%= search_block.item_count %> in total. <%= link_to "Full publication list", spotlight.exhibit_browse_path(search_block.exhibit, search_block.search) %></h4>

